@charset "utf-8";


/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
/*	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	color:#5c5758;
/*	font-size:62.5%;*/
	/*font-size:15px;*/
	font-size:17px;
	line-height:21px;
/*	line-height:1.5;*/
}
body {
	overflow:auto;
	margin:0;
	padding:0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border:0;
	width:100%;
	cellspacing:0;
	cellpadding:0;
}
*:focus {
    outline: 0;
	border:none;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-font-smoothing: antialiased;	
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:after {
	content:"";
	display:table;
    clear:both;
}

/* customize */
img{display:block;}
input{font-size:14px;}
a{text-decoration:none;}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
dt,dd,dl{
	padding:0px;
	margin:0px;
}
p{
	font-size:17px;
	line-height:21px;
	margin-bottom:20px;
}